<h1> Ecommerc </h1>

<hr>
  <% if current_user %>
<p> Здравствуйте <%= current_user.first_name %> </p>
<p> Ваш email: <%= current_user.email %> </p>
<p> Ваша фамилия: <%= current_user.last_name %> </p>
<p> Ваше имя: <%= current_user.first_name %> </p>

<%= link_to 'Редактировать профиль', edit_profiles_path %>

<p>

<%= button_to 'Удалить профиль', profiles_path, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>

</p>

<hr>
 
<p> <%= link_to 'Выйти', logout_path, method: :get %> </p>
<% else %>
      <h1>Ваш профиль еще не создан</h1>
    <% end %>