<% @cart.orderables.each do |orderable| %>
   <% electronic = orderable.electronic %>
   <div id="<%= "cart-#{electronic.id}" %>">
   <div>
    
      <h1><%= electronic.name %></h1>
      <h2><%= electronic.description %></h2>
      <%= electronic.price %>
   </div>
   
   <div >
      <%= form_with(url: cart_add_path) do |f| %>
         <%= f.hidden_field :id, value: electronic.id%>
         <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
         <%=f.submit "добавить"%> 
      <%end%>
   </div>
      <%= form_with(url: cart_remove_path)do |f|%>
         <%= f.hidden_field :id, value: orderable.id%>
         <button id="b"><%=f.submit "X"%> </button>
      <%end%>
   <%=orderable.total  %>
   
<%end%>
