<div id="<%= dom_id electronic %>">
  <p>
    <strong>Name:</strong>
    <%= electronic.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= electronic.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= electronic.description %>
  </p>

  <p>
    <strong>Fulldescription:</strong>
    <%= electronic.fulldescription %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= electronic.image %>
  </p>

</div>
