<div id="<%= dom_id electronic %>">
  <p>
    <strong>Name:</strong>
    <%= electronic.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= electronic.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= electronic.description %>
  </p>

  <p>
    <strong>Fulldescription:</strong>
    <%= electronic.fulldescription %>
  </p>

<% if electronic.image.url != nil %>
      <%= image_tag electronic.image.url %>
  <%end%>

 <div >
      <p><%= number_to_currency(electronic.price) %></p>
        <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :id, value: electronic.id %>
        <%= f.number_field :quantity, value: 1, min: 1 %>
        <button type="button"><%=f.submit "В корзину"%> </button>
          
      <%end%>
    </div>
</div>
